<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://dancenearu.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>dancenearu.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>dancenearu</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$dancenearu</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DanceContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:dbgtt4fzve.database.windows.net,1433;Initial Catalog=dancenearu_db;User ID=sennera@dbgtt4fzve;Password=CS470Cla$$" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="SalemDance.DAL.DanceContext, SalemDance" MigrationConfiguration="SalemDance.Migrations.Configuration, SalemDance" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DanceContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:dbgtt4fzve.database.windows.net,1433;Initial Catalog=dancenearu_db;User ID=sennera@dbgtt4fzve;Password=CS470Cla$$</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>