@{
    ViewBag.Title = "About";
}

<h2>@ViewBag.Title</h2>

<p> 
    With DanceNearU, you can find local dance events and venues near you in the Salem area: 
    everything you need to know in one spot. You can also see or learn several types of dancing before going.
</p>

<ul>
    <li>
        Ready for some good music? Search by genre of music to dance to.
        <a href="~/Event">Go now &raquo;</a>
    </li>
    <li>
        Broke? Search by cost: many place you can dance are free!
        <a href="~/Event">Go now &raquo;</a>
    </li>
    @*<li>
        Hungry? Search by amenities, such as if food is available.
        <a href="~/Views/Event/Index.cshtml">Go now &raquo;</a>
    </li>*@
    <li>
        A beginner at dancing? Find dance lessons near you, or teach yourself before you go through tutorial videos.
        <a href="~/DanceStyle">Go now &raquo;</a>
    </li>
    <li>
        Busy? Find an event near you at the time you can go.
        <a href="~/Event">Go now &raquo;</a>
    </li>
    <li>
        Want to hear someone else’s opinion? View others’ reviews before deciding to go dance.
        <a href="~/Review">Go now &raquo;</a>
    </li>
    <li>
        Want to look up a dance venue you've heard of or know of? Search our list of dance venues, and add ones we don't know of.
        <a href="~/Venue">Go now &raquo;</a>
    </li>
</ul>
      
<p>
    With our helpful information, you can find out all about a dance venue or how to dance before stepping foot inside. 
</p>
<br />
<br />
<p>
    Designed by Jessica Crow and April Senner for CS470.
</p>