@{
    ViewBag.Title = "Dance Near U";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="margins">
    <div class="jumbotron" align="center">
        <img src="~/Images/ballroom_partners.png" alt="dance pic" style="height:100px">
        <img src="~/Images/disco.jpg" alt="dance pic" style="height:100px">
        <img src="~/Images/jump.jpg" alt="dance pic" style="height:100px">
        <img src="~/Images/partner2.png" alt="dance pic" style="height:100px">
        <img src="~/Images/breakdance.png" alt="dance pic" style="height:100px">
        <img src="~/Images/partner1.jpeg" alt="dance pic" style="height:100px">
        <img src="~/Images/graceful.png" alt="dance pic" style="height:100px">
        <h1>DanceNearU</h1>

        <p class="lead">Find local dance events and venues near you in the Salem area: everything you need to know in one spot. </p>
        <p><a class="btn btn-lg" href="~/Event/Index"><b>Find Dance Venues and Events Now</b> &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Venues</h2>
            <p>We've got them all listed right here. Take a look!</p>
            <p><a class="btn btn-default" href="~/Venue/Index">See Venues &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Online Tutorials</h2>
            <p>
                New to dancing? Or do you want to see what a style of dance looks like before jumping in at a new location?
                We've got links to tutorials and video examples.
            </p>
            <p><a class="btn btn-default" href="~/DanceStyle/Index">Learn Dance Moves &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Reviews</h2>
            <p>Want to share your thoughts abouta terrible or wonderful dance place you went to?</p>
            <p><a class="btn btn-default" href="~/Review/Index">Write a Review &raquo;</a></p>
        </div>
    </div>
</div>
